---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import CarrouselBanner from '../components/CarrouselBanner.astro'
import VideoPromotional from '../components/VideoPromotional.astro'
---

<Layout title='Welcome to Astro.'>
  <Header />
  <main>
    <CarrouselBanner text='Gente, naturaleza, Historia' />
    <VideoPromotional />
  </main>
</Layout>
