---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import CarrouselBanner from '../components/CarrouselBanner.astro'
import VideoPromotional from '../components/VideoPromotional.astro'
import Paisajes from '../components/Paisajes.astro'
import NuestraHistoria from '../components/NuestraHistoria.astro'
import Libro from '../components/Libro.astro'
---

<Layout title='Welcome to Astro.'>
  <Header />
  <main>
    <CarrouselBanner text='Gente, naturaleza, Historia' />
    <VideoPromotional urlVideo='videos/charca-cueto-1080-60fps-compress.mp4' />
    <Paisajes />
    <NuestraHistoria />
    <Libro />
  </main>
</Layout>
