---
import ArrowRight from './icons/ArrowRight.astro'
const { urlImage, altImage, textLink } = Astro.props
---

<div class='relative w-full h-full'>
  <img
    fetchpriority='high'
    class='absolute w-full h-full object-cover top-0 left-0 bg-black-200 inset-0 z-0'
    src={urlImage}
    alt={altImage}
  />
  <div class='w-full h-full filter-banner flex items-end z-10 relative p-6'>
    <a
      href=''
      class='text-white text-xl md:text-2xl lg:text-4xl w-full flex justify-between items-center relative'>
      {textLink}
      <!-- <ArrowRight customClass='w-12' /> -->
    </a>
  </div>
</div>
