---

---

<header class='flex items-center justify-between lg:max-w-[1400px] lg:m-auto p-2'>
  <div class='flex flex-start items-center gap-2 md:gap-4 lg:gap-6'>
    <img
      class='w-6 md:w-10 lg:w-12'
      src='images/icons/escudo_de_mata_de_alcantara.webp'
      alt='Logo de Mata de Alcántara'
    />
    <h1 class='text-xl md:text-3xl lg:text-6xl font-semibold text-field-drab'>Mata de Alcántara</h1>
  </div>

  <!-- Plugin del tiempo -->
  <!-- <div class='flex items-center gap-2'>
    <span class='text-xl md:text-3xl merry'>32º</span>
    <img
      class='w-10 md:w-16'
      src='/icons/sun.webp'
      alt='Icon de un sol'
    />
  </div> -->
</header>
