<section class='bg-libro p-8'>
  <div class='lg:max-w-[1400px] lg:m-auto text-white p-2'>
    <p class='text-khaki font-bold uppercase'>Compra nuestro libro</p>
    <h2 class='text-pretty max-w-[600px] text-[40px] md:text-[80px] leading-none py-8'>La Mata<br /> en el tiempo</h2>
    <p class='max-w-[600px] text-xl'>
      El patrimonio histórico, artístico y etnográfico de Mata de Alcántara. Puedes adquirirlo en las oficinas del
      ayuntamiento.
    </p>
  </div>
</section>
