<section class='py-[50px] md:py-[50px] lg:py-[130px] bg-gradient-to-br from-[#125226] to-[#118E49]'>
  <div class='lg:max-w-[1400px] lg:m-auto flex flex-col lg:flex-row gap-20 p-2 items-center'>
    <div class='flex-1'>
      <h2 class='merry font-bold lg:max-w-[1400px] lg:m-auto text-xl md:text-3xl lg:text-6xl text-khaki mb-4 lg:mb-12'>
        Un poco de nuestra Historia
      </h2>
      <p class='text-white mb-6'>
        La historia de <strong>Mata de Alcántara</strong> se remonta a la Reconquista y la Orden Militar de Alcántara. En
        1213, Alfonso IX de León conquistó Alcántara y entregó el control del territorio a la Orden alcantareña para su defensa
        y organización.
      </p>
      <p class='text-white mb-6'>
        Durante los siglos XVII y XVIII, <strong>Mata de Alcántara</strong> sufrió los efectos de las guerras con Portugal,
        con saqueos y pillajes por parte del enemigo. En los inicios del siglo XIX, con la invasión francesa y la guerra
        de la Independencia, el pueblo se vio afectado con destrucciones y saqueos.
      </p>
      <p class='text-white mb-6'>
        En el siglo XX, <strong>Mata de Alcántara</strong>, como otros pueblos españoles, sufrió la emigración,
        perdiendo entre 1950 y 1980 algo más del 70% de su población, lo que conllevó consecuencias socioeconómicas
        negativas.
      </p>
      <p class='text-white mb-6'>
        <strong>Mata de Alcántara</strong> se caracteriza por su ecosistema rico en dehesas y charcas, como la de Cuetos,
        en la Ribera de la Mata, con una importante riqueza faunística, especialmente aves. La comarca es eminentemente agrícola
        y ganadera. El municipio cuenta con un patrimonio histórico y cultural, incluyendo el convento del siglo XVI.
      </p>
    </div>
    <figure class='flex-1'>
      <img
        class=''
        src='images/pantrigo.webp'
        alt=''
      />
    </figure>
  </div>
</section>
