<section class='topographic py-[50px] md:py-[50px] lg:py-[130px]'>
  <h2 class='merry font-bold lg:max-w-[1400px] lg:m-auto p-2 text-xl md:text-3xl lg:text-6xl text-green-800'>
    Paisajes únicos
  </h2>
  CarruselBanner nuevo
</section>
